*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: hsl(192, 100%, 9%);
}
h1,
h2,
h3,
h4 {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.container {
  padding: 3rem 5rem;
  margin: auto;
  text-align: center;
}

/*HEADER STYLING*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}
header img {
  width: 25rem;
}
.btn {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.btn-small {
  padding: 1rem 3.5rem;
  border: 1px solid hsl(321, 100%, 78%);
  border-radius: 20px;
  text-align: center;
  color: hsl(322, 100%, 66%);
  font-size: 1.3rem;
}
.btn-small:hover {
  box-shadow: 0 0 5px;
  opacity: 0.7;
}

/*FIRST SECTION STYLING*/
.first-section {
  padding: 20rem 0;
}
.first-section h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
}
.first-section p {
  width: 70%;
  margin: auto;
}
.btn-big {
  padding: 2.2rem 7rem;
  border: 1px solid transparent;
  border-radius: 35px;
  text-align: center;
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  font-size: 1.3rem;
  margin-top: 4rem;
  line-height: 1.7;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  transition: all 0.2s ease-in;
}
.btn-big:hover {
  background-color: hsl(321, 100%, 78%);
}
.first-section__img-box {
  padding: 8rem 0;
}
.first-section__img-box img {
  width: 35rem;
}
.estimate,
.grow-box,
.users-box,
.conversation-box,
.footer__info-box {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}
.estimate__box {
  width: fit-content;
  margin: auto;
  padding: 5rem 0;
  position: relative;
}
.estimate__box h2 {
  font-size: 8rem;
}
.estimate__box img {
  position: absolute;
  top: 0;
  left: 0;
}
.estimate__box p {
  color: hsla(192, 100%, 9%, 0.616);
}
/*SECOND SECTION*/
.container h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.users-box img,
.conversation-box img,
.grow-box img {
  width: 30rem;
  display: inline-block;
  margin: auto;
  flex: 50%;
}
.grow-box-text,
.users-box-text,
.conversation-box-text {
  flex: 50%;
}
.blue-section,
.blue-curls-section,
.footer-section {
  position: relative;
}
.blue-section {
  padding: 10.3rem 0 10.1rem;
}
.blue-curls-section {
  padding: 11.2rem 0 5.2rem;
}
.blue-curls-section::before {
  content: "";
  background: url(images/bg-section-top-mobile-1.svg) top no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11.2rem;
}
.blue-curls-section::after {
  content: "";
  background: url(images/bg-section-bottom-mobile-1.svg) bottom no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5.2rem;
}
.blue-section::before {
  content: "";
  background: url(images/bg-section-top-mobile-2.svg) top no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10.3rem;
}
.blue-section::after {
  content: "";
  background: url(images/bg-section-bottom-mobile-2.svg) top no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10.1rem;
}
/*CONTAINER-READY*/
.container__ready-box,
.conversation-box {
  padding: 10rem 0;
}
.container__ready-box h4 {
  font-size: 2.5rem;
}
.container__ready-box .btn-big {
  margin-top: 2rem;
}
.blue-container {
  background-color: hsl(207, 100%, 98%);
}

/*FOOTER*/
.footer-section {
  padding-top: 5rem;
}
.footer-section::before {
  content: "";
  background: url(images/bg-footer-top-mobile.svg) top no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.3rem;
  margin: 0;
}
.footer-container {
  background-color: hsl(192, 100%, 9%);
  color: hsl(207, 100%, 98%);
}
.footer-section h4 {
  font-size: 2.5rem;
  color: inherit;
  text-transform: uppercase;
  margin-bottom: 3rem;
  display: block;
}
.footer__info-box {
  text-align: start;
  padding: 1rem 0 0;
}
.footer__newsletter-box {
  flex: 50%;
}
.footer__huddle-box {
  flex: 50%;
}
form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
input {
  cursor: pointer;
  display: block;
  outline: transparent;
  border-radius: 5px;
  border: 1px solid transparent;
  height: 6rem;
}
.form-box {
  width: 100%;
}
form .input-btn {
  width: 50%;
  border-radius: 5px;
  text-align: center;
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  font-size: 1.5rem;
  line-height: 1.7;
  transition: all 0.2s ease-in;
  margin-left: auto;
}
.input-email {
  width: 100%;
}
.input-btn:hover {
  background-color: hsl(321, 100%, 78%);
}

.footer__huddle-box-img {
  width: 20rem;
  margin-bottom: 3rem;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact-info:not(:last-child) {
  margin: 2rem 0;
}
.social-icons {
  margin-top: 3rem;
  list-style-type: none;
}
.social-icons {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.fa-facebook-f {
  width: 3rem;
  padding: 4px;
  background-color: #fff;
  color: hsl(192, 100%, 9%);
  border-radius: 3px;
  text-align: end;
  font-size: 2rem;
}
.fa-twitter {
  width: 3rem;
  padding: 4px;
  background-color: #fff;
  color: hsl(192, 100%, 9%);
  border-radius: 3px;
  text-align: center;
  font-size: 2rem;
}
.fa-instagram {
  font-size: 3.2rem;
}
/* DOM Manipulation*/
.form-box-label {
  font-size: 1.2rem;
}
.alert {
  color: rgb(241, 11, 11);
}
.attribution {
  font-size: 11px;
  text-align: end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 290px) {
  html {
    font-size: 40%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .first-section__img-box img {
    width: 90rem;
  }
  .first-section p {
    width: 50%;
  }
  .estimate,
  .conversation-box {
    flex-direction: row;
  }
  .grow-box,
  .users-box,
  .footer__info-box {
    flex-direction: row-reverse;
  }
  .grow-box-text,
  .users-box-text,
  .conversation-box-text {
    text-align: start;
  }
  .footer__info-box {
    align-items: flex-start;
    gap: 10rem;
  }
  .blue-section {
    padding: 15.6rem 0 13.9rem;
  }
  .blue-curls-section {
    padding: 16.5rem 0 13.9rem;
  }
  .blue-curls-section::before {
    content: "";
    background: url(images/bg-section-top-desktop-1.svg) top no-repeat;
    height: 17.5rem;
    background-size: 100% 100%;
  }
  .blue-curls-section::after {
    content: "";
    background: url(images/bg-section-bottom-desktop-1.svg) bottom no-repeat;
    height: 13.9rem;
    background-size: 100% 100%;
  }
  .blue-section::before {
    content: "";
    background: url(images/bg-section-top-desktop-2.svg) top no-repeat;
    background-size: 100% 100%;
    height: 16.6rem;
  }
  .blue-section::after {
    content: "";
    background: url(images/bg-section-bottom-desktop-2.svg) top no-repeat;
    height: 13.9rem;
    background-size: 100% 100%;
  }
  .footer-section {
    padding-top: 15.8rem;
  }
  .footer-section::before {
    content: "";
    background: url(images/bg-footer-top-desktop.svg) top no-repeat;
    height: 16.8rem;
    background-size: 100% 100%;
  }
  .huddle__box,
  .footer__newsletter-box p {
    width: 32rem;
  }
  form {
    flex-direction: row;
  }
  input {
    height: 4rem;
  }
  .form-box {
    flex: 70%;
  }
  .input-btn {
    flex: 30%;
  }
}
