*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: hsl(192, 100%, 9%);
}
h1,
h2,
h3,
h4 {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
input {
  cursor: pointer;
}
.container {
  padding: 3rem 5rem;
  margin: auto;
  text-align: center;
}
.section img:first-child,
.section img:last-child {
  display: block;
  max-width: 100%;
}
/*HEADER STYLING*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
header img {
  width: 15rem;
}
.btn {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.btn-small {
  padding: 0.7rem 2.5rem;
  border: 1px solid hsl(321, 100%, 78%);
  border-radius: 15px;
  text-align: center;
  color: hsl(322, 100%, 66%);
  font-size: 1.3rem;
  /*box-shadow: 0 2.5rem 10rem hsl(207, 100%, 98%) ;*/
}

/*FIRST SECTION STYLING*/
.first-section {
  padding: 10rem 0;
}
.first-section h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
}
.btn-big {
  padding: 1.2rem 6rem;
  border: 1px solid transparent;
  border-radius: 25px;
  text-align: center;
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  font-size: 1.3rem;
  margin-top: 4rem;
  line-height: 1.7;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  transition: all 0.2s ease-in;
}
.btn-big:hover {
  background-color: hsl(321, 100%, 78%);
}
.first-section__img-box {
  padding: 8rem 0;
}
.first-section__img-box img {
  width: 35rem;
}
.estimate,
.grow-box,
.users-box,
.conversation-box,
.footer__info-box {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}
.estimate__box {
  width: fit-content;
  margin: auto;
  padding: 4rem 0;
  position: relative;
}
.estimate__box h2 {
  font-size: 8rem;
}
.estimate__box img {
  position: absolute;
  top: 0;
  left: 0;
}
/*SECOND SECTION*/
.container h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.users-box img,
.conversation-box img,
.grow-box img {
  width: 30rem;
  display: inline-block;
  margin: auto;
  flex: 50%;
}
.grow-box-text,
.users-box-text,
.conversation-box-text {
  flex: 50%;
}

.blue-container {
  background-color: hsl(207, 100%, 98%);
}
/*CONTAINER-READY*/
.container__ready-box {
  padding: 5rem 0;
}
.container__ready-box h4 {
  font-size: 2.5rem;
}
.container__ready-box .btn-big {
  margin-top: 2rem;
}

/*FOOTER*/
.footer-container {
  /*background-image: url(./images/bg-footer-top-mobile.svg);*/
  background-color: hsl(192, 100%, 9%);
  color: hsl(207, 100%, 98%);
}
.footer-section h4 {
  color: inherit;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.footer__info-box {
  text-align: start;
  padding: 1rem 0 0;
}
.footer__newsletter-box .btn-big.input-btn {
  outline: transparent;
  border-radius: 5px;
  width: 50%;
}
.footer__newsletter-box {
  flex: 60%;
}
.footer__huddle-box {
  flex: 40%;
}
.footer__huddle-box > img {
  color: hsl(207, 100%, 98%);
  fill: inherit;
  margin-bottom: 3rem;
}
.input-email {
  margin-top: 3rem;
  width: 100%;
  height: 3.5rem;
}
.contact-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact-info:not(:last-child) {
  margin: 2rem 0;
}
.social-icons {
  margin-top: 3rem;
}
.social-icons li {
  display: inline-block;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .first-section__img-box img {
    width: 70rem;
  }
  .estimate,
  .conversation-box {
    flex-direction: row;
  }
  .grow-box,
  .users-box,
  .footer__info-box {
    flex-direction: row-reverse;
  }
  .grow-box-text,
  .users-box-text,
  .conversation-box-text {
    text-align: start;
  }
  .footer__info-box {
    align-items: flex-start;
    gap: 20rem;
  }
}
